html {
    height: 3140px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: var(--color-text-base);
}

.foreground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

#title{
    position: absolute;
    top: 0px;
    height: 120px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    z-index: 2;
}

#title span {
    background: -webkit-linear-gradient(var(--color-white), var(--color-gray-dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    position: relative;
    top: 0px;
    left: 0px;
    height: 3000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vh;
}

.wrapper {
    min-height: 700px;
    min-width: 1000px;
    background-color: transparent;    
    border: 3px solid var(--color-primary);
    border-radius: 5px;
}

.textbox{
    height: 10vh;
    min-height: 100px;
    padding: 20px;
    background-color: var(--color-white);
    border: 3px solid var(--color-primary);
    font: 16px sans-serif;
}

.flex_wrapper {
    height: 60vh;
    width: 70vw;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: left;
}

.toolbox {
    width: 300px;
    padding: 20px;
    background-color: var(--color-white);
    border: 3px solid var(--color-primary);
    font: 16px sans-serif;
}

.graphic {
    height: 60vh;
    width: 70vw;
    min-height: 600px;
    min-width: 1000px;
    color: var(--color-text-white);
    background-color: var(--color-black);
}

