html {
    height: 3140px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: var(--color-text-base);
}

.foreground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

#title{
    position: absolute;
    top: 0px;
    height: 120px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #c6bbb9;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    z-index: 2;
}

#title span {
    background: -webkit-linear-gradient(var(--color-white), var(--color-gray-light));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #c6bbb9;
}

.container {
    position: relative;
    top: 0px;
    left: 0px;
    height: 3000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper {
    min-height: 700px;
    width: 1300px;
    background-color: transparent;    
    border: 3px solid var(--color-primary-darker);
    border-radius: 5px;
}

.titlebox_wrapper {
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border: 3px solid var(--color-primary-darker);
    font: 16px sans-serif;
}

.titlebox {
    color: var(--color-text-white);
    background-color: var(--color-base);
    text-align: center;
    font: 32px sans-serif;
    font-weight: bold;
    padding: 10px;
}

.textbox{
    background-color: var(--color-white);
    font: 16px sans-serif;
    font-weight: bold;
    padding: 15px 15px 0px 15px;
    display: flex;
    align-items: center;
}

.graphic_wrapper {
    display: flex;
    justify-content: left;
}

.toolbox {
    width: 260px;
    padding: 20px;
    background-color: var(--color-white);
    border: 3px solid var(--color-primary-darker);
    border-top: none;
    font: 16px sans-serif;
}

.graphic {
    min-height: 600px;
    min-width: 1000px;
    color: var(--color-text-white);
    background-color: var(--color-black);
    position: relative;
}

.tooltip-container {
    position: relative;
    pointer-events: none; /* Ensures the tooltip doesn't interfere with pointer events */
  }

.tooltip {
    position: absolute;
    background-color: #6a5f7c;
    min-width: 150px;
    min-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    z-index: 999;
    color: #1c1026;
    pointer-events: none; /* Ensures the tooltip doesn't interfere with pointer events */
  }



