/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=73m0u0keutz5dNP9EBAjvorobjC */

/* Feel free to copy&paste color codes to your application */

:root{
    --color-primary-0:#518791;
    --color-primary-1:#B5D1D7;
    --color-primary-2:#7DA9B1;
    --color-primary-3:#316D78;
    --color-primary-4:#195560;
    --color-secondary-1-0:#606E9F;
    --color-secondary-1-1:#BDC5DD;
    --color-secondary-1-2:#8B97BE;
    --color-secondary-1-3:#3D4D84;
    --color-secondary-1-4:#23346A;
    --color-secondary-2-0:#EBCA81;
    --color-secondary-2-1:#FFF2D6;
    --color-secondary-2-2:#FFE7B2;
    --color-secondary-2-3:#C39E4C;
    --color-secondary-2-4:#9C7826;
    --color-complement-0:#EBB581;
    --color-complement-1:#FFEAD6;
    --color-complement-2:#FFD8B2;
    --color-complement-3:#C3864C;
    --color-complement-4:#9C6026;
    --color-black-0:#000000;
    --color-black-1:#404040;
    --color-black-2:#808080;
    --color-black-3:#bfbfbf;
    --color-black-4:#ffffff;
}