/* d3 elements */
svg{
    width: 1200px;
    height: 600px;
    color: var(--color-black-4);
}

/* style of scatter plot */
.scatter-plot circle {
    fill: var(--color-primary-0);
}

.scatter-plot .hovered {
    fill: var(--color-complement-0);
}

/* .scatter-plot path, 
.scatter-plot line,
.scatter-plot text {
} */

/* tree elements */
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}