.images{
    width: 200px;

}

.image_background{
    width: 300px;
    height: 500px;
    background-image: url(../images/duck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image:hover{
    background-image: url(../images/duck_mouseover.jpg);
}